.country{
    border: 1px solid salmon;
    padding: 10px;
    border-radius: 10px;
}
.visitedCountry{
    background-color: #f6ffe613;
}
button{
    background: darkslategrey;
    border: none;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
